<% provide(:title, 'Leaders') %>

<h1>Listing Leaders</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaders.each do |leader| %>
      <tr>
        <td><%= link_to leader.name, leader %></td>
        <td><%= leader.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

