<h1>Listing leaders</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaders.each do |leader| %>
      <tr>
        <td><%= leader.name %></td>
        <td><%= leader.email %></td>
        <td><%= link_to 'Show', leader %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

