<% provide(:title, @leader.name) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leader.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @leader.email %>
</p>s

<%= link_to 'Back', leaders_path %>
