<h1>Someone just set up a private trip</h1>

<h3>Heres some of the info about the trip</h3>

<ul>
  <li>Title: <%= @trip.title %></li>
  <li>Price: <%= @trip.price %></li>
</ul>

<h3>Copy this link and send it to the client!  Also, double check and make sure the info is right.</h3>

<p><%= @url %></p>