<h1>New Sign Up!</h1>

<p><%= @attendee.email %> has signed up for the trip to <%= @attendee.trip %>.  <%= @attendee.trip.get_leader.name %> is leading this trip.</p>

<p>Love,</p>

<p><strong>Vestigo Bot</strong></p>  

