<footer class="footer">
  <small>
    <a href="http://marshall-mosher.squarespace.com" target="_blank">Vestigo Scheduler</a>
    by Vestigo Adventures, LLC
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms", '#'%></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>