<footer class="footer">
  <small>
    <a href="http://vestigo.co" target="_blank">Vestigo Scheduler Beta</a>
    by Vestigo Adventures, LLC
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms", '#'%></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>